<!-- Inside ranking-view.component.html -->
<div>
  <h5>Podium</h5>
</div>
<div class="  ">

    <div class="bg-white rounded-4 shadow p-3  my-3 d-flex justify-content-center">
      <div class="container podium mt-4 w-50">
        <ng-container *ngFor="let ranking of rankings.slice(0, 3); let i = index">
          <div class="podium__item" [ngClass]="getPodiumClass(i)">
            <p class="podium__city fw-bold text-start p-2"> N°: {{ ranking.memberId }} <br> Score: {{ ranking.score }}</p>
            <div class="podium__rank  fw-bold text-white">{{ i + 1 }}</div>
          </div>
        </ng-container>
      </div>
    </div>
    <h5 class="mx-1 my-2">List Ranking</h5>
    <div class="bg-white rounded-4 shadow p-3 ">
      <ul class="list-group ">
        <li *ngFor="let ranking of rankings" class=" fw-bold list-group-item d-flex justify-content-between text-start">
         <samp> Member N°: {{ ranking.memberId}}  </samp> <samp  class="text-start"> Score: {{ ranking.score }}</samp>
        </li>
      </ul>
    </div>
  </div>
