
      <div class="w-100 fw-semibold" style="background-color: #4070f4;" >
          <div class="d-flex flex-column align-items-center align-items-sm-start  text-white min-vh-100" style="color: #f9eeb9;">
            {{role}}
             <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start my-3" id="menu" *ngIf="role === 'MANAGER'">
                <li class="nav-item">
                      <a routerLink="./competitions"  class="nav-link align-middle px-0">
                        <span class="ms-1 d-none d-sm-inline text-dark">Competition</span>
                      </a>
                  </li>

                  <li>
                      <a routerLink="./levels"  class="nav-link px-0 align-middle"  >
                        <span class="ms-1 d-none d-sm-inline text-dark" >Level</span> </a>
                  </li>
                  <li>
                    <a routerLink="./hunting"   class="nav-link px-0 align-middle">
                        <span class="ms-1 d-none d-sm-inline text-dark">Hunting</span> </a>
                </li>
                <li>
                  <a routerLink="./members"  class="nav-link px-0 align-middle">
                    <span class="ms-1 d-none  d-sm-inline text-dark">Member</span> </a>
              </li>
              <!-- <li>
                <a href="#" routerLink="/rankings"  class="nav-link px-0 align-middle">
                    <span class="ms-1 d-none d-sm-inline text-dark">Ranking</span> </a>
            </li> -->
            <li>
              <a href="#" class="nav-link px-0 align-middle" routerLink="./fish" >
                <span class="ms-1 d-none d-sm-inline text-dark">Fish</span>
              </a>
          </li>
          <li>
            <button href="#" class="nav-link px-0 align-middle" (click)="logout()">
              <span class="ms-1 d-none d-sm-inline text-danger">Logout</span>
            </button>
        </li>
              </ul>


              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start my-3" id="menu" *ngIf="role === 'JUDGE' || role == 'MEMBER'">
                <li class="nav-item">
                    <a routerLink="./competitions"  class="nav-link align-middle px-0">
                      <span class="ms-1 d-none d-sm-inline text-dark">Competition</span>
                    </a>
                </li>

               
        <li>
          <button href="#" class="nav-link px-0 align-middle" (click)="logout()">
            <span class="ms-1 d-none d-sm-inline text-danger">Logout</span>
          </button>
      </li>
            </ul>


          </div>
      </div>

