
      <div class="w-100 fw-semibold bg-primary" >
          <div class="d-flex flex-column align-items-center align-items-sm-start  text-white min-vh-100" style="color: #f9eeb9;">
              <!-- <a href="/" class="d-flex align-items-center  mb-md-0 me-md-auto text-white text-decoration-none">

              </a>
              <img src="../../../assets/logo/logo.jpg" alt="logo" width="100%"> -->
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start my-3" id="menu">
                  <li class="nav-item">
                      <a routerLink="/competitions"  class="nav-link align-middle px-0">
                        <span class="ms-1 d-none d-sm-inline text-dark">Competition</span>
                      </a>
                  </li>

                  <li>
                      <a routerLink="/levels"  class="nav-link px-0 align-middle"  >
                        <span class="ms-1 d-none d-sm-inline text-dark" >Level</span> </a>
                  </li>
                  <li>
                    <a routerLink="/hunting"   class="nav-link px-0 align-middle">
                        <span class="ms-1 d-none d-sm-inline text-dark">Hunting</span> </a>
                </li>
                <li>
                  <a routerLink="/members"  class="nav-link px-0 align-middle">
                    <span class="ms-1 d-none  d-sm-inline text-dark">Member</span> </a>
              </li>
              <!-- <li>
                <a href="#" routerLink="/rankings"  class="nav-link px-0 align-middle">
                    <span class="ms-1 d-none d-sm-inline text-dark">Ranking</span> </a>
            </li> -->
            <li>
              <a href="#" class="nav-link px-0 align-middle" routerLink="/fish" >
                <span class="ms-1 d-none d-sm-inline text-dark">Fish</span>
              </a>
          </li>
              </ul>


          </div>
      </div>

